<footer class="site-footer">
<div class="wrapper">
  <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
  <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

    <div class="footer-col footer-col-2">
      <ul class="social-media-list">
        <li>
          <i class="fa fa-vk fa-lg" aria-hidden="true"></i>
          <a href="https://vk.com/yutkinn" target="_blank">
            <span class="username">yutkinn</span>
          </a>
        </li>

        <li>
          <i class="fa fa-github fa-lg" aria-hidden="true"></i>
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>

        <li>
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col footer-col-3">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</div>
</footer>
